
/* 
@font-face {
  font-family: 'BauhausGeoExVF';
  src: url('https://mojomox.com/hosted-fonts/bauhaus-geo/v1/BauhausGeoExVF.woff2') format('woff2'),url('https://mojomox.com/hosted-fonts/bauhaus-geo/v1/BauhausGeoExVF.woff') format('woff');
  font-weight: 1 999;
  font-style: normal;
}

.someFont{
  font-family: "BauhausGeoExVF", sans-serif;
} */

.pitPage {
  font-family: "Roboto", sans-serif;
}

.pitPage .sapMTitle,
.pitPage .sapMText,
.pitPage .sapMLabel {
  font-family: "Roboto", sans-serif !important;
}

.mainGrid {
  background-color: white;
  border: 2px solid rgb(207 207 207);
  border-radius: 4px;
  box-sizing: border-box;
  min-height: 100%;
}

.emphasizedElement {
  border: 2px dashed red;
  min-height: 1.9rem;
}

.designPanel {
  border: 2px dashed rgb(229 216 107);
  border-radius: 7px;
  background-color: rgb(235 236 237);
  width: 65%;
  padding: 0.3rem;
  overflow: auto;
  resize: horizontal;
}

.designPanel div:has(.mainGrid) {
  height: 100%;
}

.configPanel {
  box-sizing: border-box;
  width: 35% !important;
  height: calc(100% - 1rem) !important;
  border-radius: 7px;
}

.configPanel {
  font-size: 0.8rem !important;
}

.configPanel .sapMBtnIcon {
  font-size: 0.8rem !important;
}

.configPanel .sapMBtnInner {
  min-width: 1.7rem !important;
}

.fieldPropertiesForm .sapUiFormToolbar > div:first-child {
  padding: 0 0.5rem 0 1rem !important;
}

.swal2-container {
  z-index: 20 !important;
  font-family: "72", "72full", Arial, Helvetica, sans-serif;
}

body.swal2-shown:not(.swal2-no-backdrop):not(.swal2-toast-shown)
  .swal2-container.swal2-backdrop-show,
.swal2-container.swal2-noanimation {
  background: rgba(0, 0, 0, 0.75) !important;
  backdrop-filter: blur(3px);
}

.swal2-html-message-container {
  text-align: left !important;
}

.swal2-container.swal2-backdrop-show,
.swal2-container.swal2-noanimation {
  background: rgba(0, 0, 0, 0.35) !important;
}

.colored-toast.swal2-icon-success {
  background-color: #48ad42 !important;
}

.colored-toast.swal2-icon-error {
  background-color: #f27474 !important;
}

.colored-toast.swal2-icon-warning {
  background-color: #f8bb86 !important;
}

.colored-toast.swal2-icon-info {
  background-color: #3fc3ee !important;
}

.colored-toast.swal2-icon-question {
  background-color: #87adbd !important;
}

.colored-toast .swal2-title {
  color: white;
}

.colored-toast .swal2-close {
  color: white;
}

.colored-toast .swal2-html-container {
  color: white;
}

.designContainer
  div.sapUiRespGridOverflowHidden[class*="sapUiRespGrid"]
  > div[class*="sapUiRespGridSpan"] {
  overflow: visible !important;
}

.rejectButton {
  --md-sys-color-primary: #ce261d;
  background-color: #fff8f6;
}

.previewButton{
  --md-sys-color-primary: #284a95;
  background-color: #f7f7f7;
}

.emphasizedButton {
  --md-sys-color-primary: var(--md-ref-palette-tertiary35);
}

.smallButton {
  --md-filled-icon-button-container-width: 28px;
  --md-filled-icon-button-container-height: 28px;
  --md-filled-icon-button-icon-size: 18px;
}

.designPanel .sapMTB {
  height: 2.75rem !important;
}

.uploadSetCustom .sapMLIB{
  border-bottom: none !important;
}


.flex-gap-xs{
  gap: 0.15rem;
}

.flex-gap-sm{
  gap: 0.3rem;
}

.flex-gap-md{
  gap: 0.5rem;
}

.flex-gap-lg{
  gap: 0.75rem;
}

.budget-warning-container{
  display: flex;
  align-items: center;
  justify-content: center;
  gap:0.5rem;
  flex-direction: column;
  overflow: hidden;
}

.budget-warning-text{
  font-size: 1rem;
}

.budget-attachment-container{
  display: flex;
  align-items: center;
  justify-content: center;
  gap:0.2rem;
  flex-direction: row;
  padding: 0.2rem 0.5rem;
  cursor: pointer;
  background-color: rgb(248, 211, 248);
  box-shadow: 1px 1px 12px rgba(0,0,0,0.2);
  border: 1px solid purple;
  border-radius: 2px;
}

.budget-attachment-icon{
  color: purple;
  font-size: 25px;
  font-family: "Material Symbols Rounded";
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
}

.budget-attachment-name{
  color: purple;
  font-size: 15px;
}

.budget-attachment-link, .budget-attachment-link:visited, .budget-attachment-link:hover, .budget-attachment-link:active {
  color: inherit;
}
