.mainGrid {
  background-color: white;
  border: 2px solid rgb(207 207 207);
  border-radius: 4px;
  box-sizing: border-box;
  min-height: 100%;
}

.emphasizedElement {
  border: 2px dashed red;
  min-height: 1.9rem;
}

.designPanel {
  border: 2px dashed rgb(229 216 107);
  border-radius: 7px;
  background-color: rgb(235 236 237);
  width: 65% !important;
  padding: 0.3rem;
}

.designPanel div:has(.mainGrid){
  height: 100%;
}

.configPanel {
  box-sizing: border-box;
  width: 35% !important;
  height: calc(100% - 1rem) !important;
  border-radius: 7px;
}

.configPanel{
  font-size: 0.8rem !important;
}

.configPanel .sapMBtnIcon {
    font-size: 0.8rem !important;
}

.configPanel .sapMBtnInner {
    min-width: 1.7rem !important;
}

.swal2-container {
  z-index: 20 !important;
  font-family: "72", "72full", Arial, Helvetica, sans-serif;
}

body.swal2-shown:not(.swal2-no-backdrop):not(.swal2-toast-shown)
  .swal2-container.swal2-backdrop-show,
.swal2-container.swal2-noanimation {
  background: rgba(0, 0, 0, 0.75) !important;
  backdrop-filter: blur(3px);
}

.swal2-html-message-container {
  text-align: left !important;
}

.swal2-container.swal2-backdrop-show,
.swal2-container.swal2-noanimation {
  background: rgba(0, 0, 0, 0.35) !important;
}

.colored-toast.swal2-icon-success {
  background-color: #48ad42 !important;
}

.colored-toast.swal2-icon-error {
  background-color: #f27474 !important;
}

.colored-toast.swal2-icon-warning {
  background-color: #f8bb86 !important;
}

.colored-toast.swal2-icon-info {
  background-color: #3fc3ee !important;
}

.colored-toast.swal2-icon-question {
  background-color: #87adbd !important;
}

.colored-toast .swal2-title {
  color: white;
}

.colored-toast .swal2-close {
  color: white;
}

.colored-toast .swal2-html-container {
  color: white;
}

.designContainer div.sapUiRespGridOverflowHidden[class*="sapUiRespGrid"]>div[class*="sapUiRespGridSpan"]{
  overflow: visible !important;
}

.rejectButton{
  --md-sys-color-primary: #ce261d;
  background-color: #fff8f6;
}

.emphasizedButton{
  --md-sys-color-primary: var(--md-ref-palette-tertiary35);
  background-color: var(--md-ref-palette-secondary95);
}

.smallButton{
  --md-filled-icon-button-container-width: 28px;
  --md-filled-icon-button-container-height: 28px;
  --md-filled-icon-button-icon-size: 18px;
}

.designPanel .sapMTB{
  height: 2.75rem !important;
}